:root {
    height: 100%;
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;
}

header {
    color:white;
    background-color:darkslategray;
    font: 30px 'Roboto Mono', monospace;
    
}

body {
    background:darkslategray;
    height: 100%;
    color: white;
    /* height:auto; */
    max-width: 100%;
}

#footer {
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    top: 98%;
}

h1 {
    margin: 0 10px;
    background-color: darkslategray;
}



#book-list-title {
    padding-left: 20px;
    padding-top: 30px;
    margin: 0px 0px;
    
}

#book-list {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-left: 50px;
    margin-top: 50px;
}

.book {
    border: 1px solid white;
    background: dimgray;
    border-radius: 8px;
    width: 200px;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
}

#open-add-div {
    height: 50px;
    width: 100px;
    float: right;
    position:static;
    margin: 20px;
}

#add-new {
    position:absolute;
    flex-direction: column;
    margin: auto;
    top: 30%;
    left: 38%;
    z-index: 1;
    width: 300px;
    padding: 20px;
    border:1px solid white;
    border-radius: 8px;
    background-color:dimgray;
}

#add-new > label {
    padding: 5px 0 5px 0;
}

#submit-new-book {
    width: 150px;
    align-self: center;
}

#overlay {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 0; 
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

#overlay.active {
    display: block;
}



