:root {
    height: 100%;
    /* box-sizing: border-box; */
}

html {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

header {
    position:fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0;
    top: 0;
    color:rgb(31, 54, 54);
    text-shadow: rgba(0, 0, 0, 0.65) 1px 2px;
    background-color:rgba(101, 163, 91, 1);
    font: 30px 'Roboto Mono', monospace;
    box-shadow: black 3px 3px 8px;
    
}

body {
    background:darkslategray;
    height: 100%;
    color: white;
    /* height:auto; */
    width: 100%;
    margin: none;
}

#footer {
    background-color: rgba(146, 233, 132, 0.486);
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
}

h1 {
    margin: 7px 10px;
    /* background-color: darkslategray; */
}

#login {
    align-self: center;
    justify-self: flex-end;
    margin-right: 30px;
    width: 80px;
    height: 40px;
}


#book-list-title {
    font: 25px 'Roboto Mono', monospace;
    text-align: center;
    padding-top: 30px;
    margin-top: 100px;
    
}

#new-user-message {
    text-align: center;
}

#book-list {
    display: none;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.733);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    box-shadow: rgba(0,0,0,.7) 5px 5px 5px 0px;
}

.book {
    background: rgb(30, 51, 51);
    border-radius: 8px;
    width: 200px;
    height: 230px;
    max-height: 230px;
    overflow:auto;
    display: flexbox;
    margin: 50px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.65) 5px 5px 5px;
    font-size: 18px;
}

.read-text {
    text-align: center;
    padding-top: 5px;
}



.mark-unfinished {
    padding: 7px 10px;
    background-color: rgba(0, 128, 0, 0.459);
    border: 2px solid rgba(2, 180, 2, 0.678);
    color: white;
    border-radius: 5px;
    width: 120px;
    margin-top: 15px;
    margin-left: 30px;
    /* position: fixed; */
}

.mark-unfinished:hover {
    background-color: rgba(255, 0, 0, 0.26);
    border-color: rgba(218, 4, 4, 0.726);
}

.mark-finished {
    padding: 7px 10px;
    background-color: rgba(255, 0, 0, 0.26);
    border: 2px solid rgba(218, 4, 4, 0.726);
    color: white;
    border-radius: 5px;
    width: 120px;
    margin-top: 15px;
    margin-left: 30px;
    /* position: fixed; */
}

.mark-finished:hover {
    background-color: rgba(0, 128, 0, 0.459);
    border: 2px solid rgba(2, 180, 2, 0.678);
}

.remove {
    background-color: rgba(92, 91, 91, 0);
    font-weight: 900;
    font-size: 20px;
    color: rgb(175, 174, 174);
    border: none;
    float:right;
    right: 0;
    top: 0;
    margin-top: 25px;

}

.remove:hover {
    color: rgb(231, 5, 5);
    border-radius: 50%;
}

#open-add-div {
    height: 60px;
    width: 110px;
    margin: 10px;
    background-color: white;
    align-self: center;
}

#open-add-div:hover {
    background-color: rgba(47, 79, 79, 0.377);
    /* color: red; */
}

#book-tracker {
    align-self: center;
    margin-right: 75px;
    color: black;
}

#book-tracker > p {
    margin: 12px 0px;
    text-align: right;
}

#add-new {
    position:absolute;
    flex-direction: column;
    margin: auto;
    top: 30%;
    left: 38%;
    z-index: 3;
    width: 300px;
    height: 300px;
    padding: 20px;
    border:1px solid white;
    border-radius: 8px;
    background-color:darkslategray;
}

#add-new > label {
    padding: 7px 0 7px 0;
    font: 15px 'Roboto Mono', monospace;
}

#add-new > input {
    border-radius: 4px;
    border: none;
    height: 20px;
}

#submit-new-book {
    width: 150px;
    height: 50px;
    margin-top: 25px;
    align-self: center;
    background-color: rgb(14, 114, 14);
    border: 2px solid rgb(78, 241, 78);
    border-radius: 8px;
    font: 14px 'Roboto Mono', monospace;
    font-weight:bolder;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
}

#submit-new-book:hover{
    background-color: rgb(31, 54, 54);
    border:2px solid rgb(45, 146, 45);
    transition-duration: .3s;
}

#overlay {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 2; 
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

#overlay.active {
    display: block;
}



